*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
img {
    width: 120px;
    height: 60px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 12px 50px;
    height: 80px;
}
.logo{
flex: 1;
    align-items: center;
}
.menu{
    flex: 3 ;
    display: flex;
    align-items: center;
}
.menu > li{
    padding: 0 12px;
}
.others{
    flex: 1;
    display: flex;
    align-items: center;
}
.others > li{
    padding: 0 12px;
}
.others > li:first-child{
    position: relative
}
header{
    background-color: #555
}
a{
    font-size: 25px;
    color: aliceblue;
    padding: 0 13px ;
}
svg{
    width: 40px;
    padding: 0 8px;
}
h1 > a{
    color: black;
}
